<div>
    <div class="number"><%= @poop %></div>
</div>
<div class="description">
    That&rsquo;s how many times San Francisco has reported feces in the last 7 days.
</div>
<div class="source">Source: <a href="https://data.sfgov.org/City-Infrastructure/311-Cases/vw6y-z8j6">SF 311 Cases</a></div>
